#main-doc {
  height: 100px;
  width: 100px;
}

#navbar {
  position:fixed;
  width: 250px;
  height: 100px;
  text-align: center;
}

#technical-doc-page {
  width: 700px;
  margin-left: 300px;
}

header {
  font-weight: bold;
  font-size: 18px;
}

.nav-link {
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}
